.u-homepage {
    background-color: white;
    background-image: url("../assets/homepage.png");
    background-size: cover;
    background-position: center center;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    padding-top: 0px;
    overflow: scroll;

}

.feed {
  width: 100vw;
  height: 10vh;
  background-color: var(--grey);
  position: relative;
  overflow: scroll;
}

h1 {
  margin: 0;
}

.home-title {
    position: relative;
    top: 100px;
    margin: 0px auto 50px auto;
    font-size: x-large;
    text-align: center;
}

.challenge {
    position: relative;
    font-size: x-large;
    text-align: center;
}

.challenge-upload {
    background-color: var(--mint);
    height: 40vh;
    width: 40vw;
    margin: 120px auto 2px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    
}

.upload {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.button_group input, .button_group_1 input{
    display: none;
}

.button_group label, .button_group_1 label{
    cursor: pointer;
    display: block;
    color: var(--black);
    padding: 15px 30px;
    border-radius: 5px;
    margin: 10px 0px;
    transition: all 0.3s ease;
}

.button_group label{
    background-color: #89CFF0;
}
