.Profile-avatarContainer {
  padding: 5 35%;
}

.Profile-avatar {
  /* make it responsive */
  max-width: 15%;
  width: 15%;
  height: 0;
  padding-bottom: 15%; /* This maintains the aspect ratio */
  display: block;
  /* make it a circle */
  border-radius: 50%;
  /* Centering on image's center */
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;
  /* it is optional, for making this div centered in parent */
  margin: 0 auto;
  margin-top: 40px; /* Adds space above the profile picture */
  position: relative; /* Allows for top positioning */
  background-image: url("../assets/picVenture.jpg");
}

.Profile-name {
  font-size: 30px;
  font-weight: 50;
}

.Profile-bio {
  font-size: 15px;
  font-weight: 100;
}

.Profile-edit-button {
  background-color: rgba(255, 255, 255, 0.694);
  border: none;
}

.Profile-line {
  border-color: var(--grey);
}

.Profile-subContainer {
  flex-grow: 1;
  flex-basis: 0;
}

.Profile-subContainer + .Profile-subContainer {
  margin-left: var(--m);
}

.Profile-subTitle {
  font-weight: 100;
  font-size: 12x;
  margin: var(--m) var(--s);
  margin-left: 80px;
  color: gray;
}

.Profile-line {
  color: gray;
  background-color: gray;
  width: 90%;
  height: 1px;
}
.Profile-uploads-container {
  margin-left: 60px;
  color: gray;
}
.picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Auto-adjust columns */
  gap: 5px; /* Spacing between items */
  padding: 10px; /* Padding around the grid */
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center; /* Center the grid items */
}

@media (max-width: 768px) {
  .picture-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .picture-grid {
    grid-template-columns: 1fr; /* One column on very small screens */
  }
}
