.GroupImageFeed {
  display: flex;
  height: 100%; /* Take up full height */
  width: 100%; /* Take up full width */
  overflow: hidden; /* Hide overflow */
}

.feed-content {
  flex-grow: 1; /* Take up remaining space */
  overflow-y: auto; /* Allow scrolling if content is too tall */
  padding: 16px; /* Optional: Add padding */
  box-sizing: border-box;
}
