.NavBar-container {
    padding: var(--m) var(--s);
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.NavBar-title {
    color: var(--black);
    font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--black);
  opacity: 0.8;
  text-decoration: none;
  text-underline-offset: 5px;
}

.NavBar-link--active {
  text-decoration: underline; /* Add underline to the active link */
  text-underline-offset: 5px; /* Adjust distance of underline */
  font-weight: bold;
}

.NavBar-link:hover {
  opacity: 1.0;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--xxl);
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #F2C9D5;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 100%;
  margin-top: 5px;
  margin-left: -100px;
  box-shadow: 5px 5px 5px #AA336A;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 72%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #F2C9D5 transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popuptext.show {
  visibility: visible;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 


.setting {
  position: relative;
  display: inline-block;
  background-color: var(--pink); 
  border: none;
  cursor: pointer;
}

.setting img {
  width: 35px;
  height: 30px;
}
